/* TOOLKIT */
/* TO PAGE TOP */
/* eventCard tsx */
/*  */

/* ------------------------UNIVERSAL COMPONENTS LIST ------------------*/

/* || --------------------TOOLKIT------------------ */

@media (max-width: 780px) {
    .kit-box > * {
        width: 35px;
        margin: 1ch 0;
    }

    
}

#tool-kit {
    z-index: 20000;
    position: fixed;
    bottom: 20px;
    left: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--shadow-light-2);
    
    padding-block: .4ch;
    border-radius: 10px;
    border: 1px dotted var(--grey);
    
    
    transition: bottom 0.35s cubic-bezier(0.485, -0.050, 0.285, 1.505);
}

#tool-kit:hover {
    background-color: var(--shadow-grey);
    box-shadow: var(--shadow-light-2);
    
    transition: All .6s;
    
}

.kit-box {
    display: flex;
    
    height: 100%;
    width: 45px;
    margin-inline: .2rem;
    justify-content: center;
    align-items: center;
}

/* SEPARATOR */
.kit-space {
    padding: .1ch;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* ------------------TO PAGE TOP------------------ */

.upArrow {
    width: 35px;
}

.upArrow:hover, #themeToggle:hover{
    scale: 1.4;
}

#toTop   {
    justify-items: center;
    align-content: center;
    transition: display .5s, opacity .4s;
    background: none;
    border: 0;
}


#themeToggle {
    border: 0;
    background: none;
    height: fit-content;
}
.sun { fill: black; }
.moon { fill: transparent; }

:global(.dark) .sun { fill: transparent; }
:global(.dark) .moon { fill: white; }



/* || --------------------TOOLKIT------------------ */


/* || --------------------Utilities------------------ */

:root {
    --mobile-screen-size: (max-width: 650px);
    --tablet-screen-size: (min-width: 769px);
    --desktop-screen-size: (min-width: 992px);
    --xl-screen-size: (min-width: 1180px);
    
}

.grid {display: grid;} 
.flex {display: flex;}
.column {flex-direction: column;}
.row {flex-flow: row;}
.self-center {justify-self: center;}
.content-center {justify-content: center;}
.items-center {justify-items: center;}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
    margin-inline: auto;
    padding-inline: 1.2rem;
}


ul {list-style: none;}
a {text-decoration: none; cursor: pointer; color: var(--text-black);}
a:visited {opacity: 90%; }
.hidden {display: none;}
button { cursor: pointer;}


* {scroll-behavior: smooth;}



.srOnly {
    display: none;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}

.srText {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    overflow-wrap: normal !important;
    padding: 0;
    position: absolute !important;
    width: 1px;
}

.dev-only {
  display: block;
  border: 1px dashed orange;
}

.debug {
  outline: 2px solid red !important;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
}

/* SPACEING */

.small-space {
margin-block: .3rem;
padding-block: .5rem;
}

.big-space {
margin-block: .5rem;
padding-block: .5rem;
}


/* --------------------BUTTONS------------------ */

.button {
    display: flex;
    letter-spacing: .2ch;
    font-family: 'red rose';
    font-weight: 400;
    margin: 15px 20px;

}

.button-light{
    color:#000;
}
.button-dark{
    color:#fff4f4;
}
.primary-button, .btn-primary{
    display: flex;
    width: 28ch;
    height: 4.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 25px ;
    border: 2px solid var(--grey-brown);
    background-color: var(--ob-orange);
    box-shadow: 2px 4px 8px var(--shadow-grey);
    color: var(--text-white);
    font-family: 'red rose';
    letter-spacing: .1ch;

}

.secondary-button, .btn-secondary{
    display: flex;
    width: 25ch;
    height: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 30px;
    border: 2px solid var(--main-purple);
    background-color: var(--mid-purple);
    box-shadow: 3px 8px 50px var(--shadow-yellow), 1px 2px 1px 1px var(--shadow-pink-2);
    color: var(--text-white);
    font-family: 'red rose';
    letter-spacing: .1ch;

}
.tertiary-button, .btn-tertiary{
    display: flex;
    width: 25ch;
    height: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 30px;
    border: 2px solid var(--ob-brown);
    background-color: var(--ob-orange);
    box-shadow: 2px 4px 8px var(--shadow-grey);
    color: var(--text-white);
    font-family: 'red rose';
    letter-spacing: .1ch;

}

.light-button{
    display: flex;
    width: 25ch;
    height: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 30px;
    border: 2px solid var(--mid-teal);
    background-color: var(--ow-orange);
    color: var(--text-white);
    font-family: 'red rose';
    letter-spacing: .1ch;

}

