:root {
    --England: #England-region;
    --North-Ireland: #Nireland-region;
    --Republic-Ireland: #Republic-Region;
    --Scottland: #Scottland-region;
    --menu-position: clamp(78px, 17vh, 80px);
    --background-light: var(--main-orange);
    --background-dark: var(--main-light);
    --background-mid: var(--main-light);
}

/* -------------------- || page set up */

#pageGrid {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.title {
    text-align: center;
    text-wrap: balance;
}

/* -------------------- || page title section */
#pageTop {
    grid-row: 1;
    grid-column: 2;
    justify-items: center;
}

/* -------------------- || sticky menu */
#menuBar {
    z-index: 20;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4.5rem;
    font-size: var(--fs-caption);
    max-height: 100%;
    padding-block: .5rem;
    justify-content: right;
    align-items: center;
    gap: .6rem;

    position: sticky;
    top: var(--menu-position);
    
    border-radius: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}


@supports (backdrop-filter: blur(.9rem)) {
    #menuBar {
        backdrop-filter: blur(.4rem);
    }
}

#menuBar .scroll-link {

    padding: 0.5rem;
    flex: 1 1;
    /* flex: 0 0 8rem; */
    /* width: 100%; */
    height: 100%;

    border-radius: 3px;
    border-width: 0;
    aspect-ratio: 4 / 2;

    text-align: center;
    text-wrap: balance;
    align-content: center;
    letter-spacing: .2ch;
    font-family: 'Red Rose';
    font-size: var(--fs-caption);
    box-shadow: 2px 5px 8px var(--shadow-grey);
    background-color: var(--main-brown);
    color: var(--main-light);

    transition: background-color .6s;
}

#menuBar .scroll-link:hover {
    background-color: var(--ob-brown);
}

@media (max-width: 700px) {
     #menuBar {
        top: 79px;
        padding-inline: 3rem;
        width: 100%;
        justify-items: center;
        justify-content: left;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
     }
     
     #menuBar .scroll-link {
        text-orientation: sideways;
        height: 3.2rem;
        padding: 0.2rem;
        font-size: var(--fs-caption);
     }
}



/* -------------------- || Directory content */
#contentTop.frame-fence {
    grid-row: 3;
    grid-column: 2 / 3;
    padding: 1rem;
    background:  var(--main-orange); 
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 2rem;
    
}


.direction-note {
    text-align: center;
    color: var(--ob-orange);
}


/* ------------------- || Directory content */
.regionBlock {
    display: grid;
    border-bottom: 3px solid var(--main-orange);
    margin-bottom: 1rem;
    height: auto;
}

#England-region {
    margin-top: 0.5rem;
}

#Nireland-region,
#Republic-Region,
#Scottland-region {
    margin-top: 0.5rem;
}

.regionName {
    width: fit-content;
    padding: .5rem;
    margin: .3rem;
    font-family: 'Red Rose';
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: .2ch;
    text-transform: uppercase;
}

.listBlocks {
    margin: 1ch 0;
    margin-bottom: 2rem;
}

.blockTitle {
    font-family: 'Red Rose';
    letter-spacing: .2ch;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-decoration: underline var(--NEW-main-orange);
    text-underline-offset: .3ch;
    
}

.blockList {
    column-width: auto;
    columns: 3; 
    widows: 0;
    column-rule: 3px dotted var(--main-light);
    padding: 0.5rem 2rem;

}

@media (max-width: 848px) {
    .blockList {
        columns: 2;
    }
}
@media (max-width: 650px) {
    .blockList {
        columns: 1;
    }
}

.blockList li {
    display: flex;
    flex-direction: column;
    width: 1fr;
    text-wrap: pretty;
    padding: 1rem;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;
    /* padding: .2ch; */
}

li::marker {
    content: none;

}

a {
    text-decoration: none;
    font-family: 'Red Rose';
    font-weight: 600;
    letter-spacing: .2ch;
    color: var(--ob-brown-);
}

a:hover {
    cursor: pointer;
    text-decoration: dotted var(--main-light);
    color: var(--mid-teal); 
    color: var(--main-light); 
    text-underline-offset: .2ch;
    text-shadow: 1px 5px .5px var(--highlight-2);

}

.blockList a > span {
    font-size: clamp(0.5rem, 0.3929rem + 0.5357vw, 0.875rem);

}

.rinks {
    grid-row: 2;
}

.groups {
    grid-row: 4;
}

.shops {
    grid-row: 3;
}
