:root {
    --England: #England-region;
    --North-Ireland: #Nireland-region;
    --Republic-Ireland: #Republic-Region;
    --Scottland: #Scottland-region;
    --menu-position: clamp(78px, 17vh, 80px);
    --background-light: var(--main-bg-orange);
    --background-dark: var(--main-bg-white);
    --background-mid: var(--main-bg-white);
}

/* -------------------- || page set up */

#pageGrid {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

/* -------------------- || page title section */
#pageTop {
    position: sticky;
    top: -20px;
    grid-row: 1;
    grid-column: 2;
    justify-items: center;
}

/* -------------------- || sticky menu */
#menuBar {
    display: flex;
    position: sticky;
    top: var(--menu-position);
    padding: 2ch 0 1ch 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    z-index: 8;

}

@supports (backdrop-filter: blur(.9rem)) {
    #menuBar {
        backdrop-filter: blur(.3rem);
    }

}


#menuBar button {
    font-family: 'Red Rose';
    font-size: var(--fs-bttn);
    box-shadow: 2px 5px 8px var(--shadow-grey);
    letter-spacing: .2ch;
    border-radius: 3px;
    border-width: 0;
    padding: 1em;
    background-color: var(--main-brown-light);
    color: var(--main-bg-light);
    transition: background-color .6s;
}

#menuBar button:hover {
    background-color: var(--main-brown-dark);
}


/* -------------------- || Directory content */
#contentTop {
    grid-row: 3;
    grid-column: 2 / 3;
    padding: 2ch;
    background:  var(--accent-mid-orange); 
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 15px;
    
}

/* #directory {
    padding-inline: 1vw;
} */

/* ------------------- || Directory content */
.regionBlock {
    display: grid;
    border-bottom: 3px solid var(--main-orange);
    margin-bottom: 5ch;
}

.regionName {
    width: fit-content;
    padding: 1ch;
    margin: .5ch;
    font-family: 'Red Rose';
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: .2ch;
}

.listBlocks {
    margin: 1ch 0;
    margin-bottom: 3ch;
}

.blockTitle {
    font-family: 'Red Rose';
    letter-spacing: .2ch;
    font-size: 1.2rem;
    margin: 1ch 0;
    text-decoration: underline var(--main-orange);
    text-underline-offset: .3ch;
    
}

.blockList {
    column-width: auto;
    columns: 3; 
    widows: 0;
    column-rule: 3px dotted var(--main-bg-light);
    padding: 1ch 3ch;

}

.blockList li {
    width: 1fr;
    text-wrap: pretty;
    padding: 1ch;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;
    /* padding: .2ch; */
}

li::marker {
    content: none;

}

a {
    text-decoration: none;
    font-family: 'Red Rose';
    font-weight: 600;
    letter-spacing: .2ch;
    color: var(--main-brown-dark);
}

a:hover {
    cursor: pointer;
    text-decoration: dotted var(--main-bg-light);
    color: var(--accent-mid-teal); 
    color: var(--main-bg-light); 
    text-underline-offset: .2ch;
    text-shadow: 1px 5px .5px var(--highlight2);

}

.rinks {
    grid-row: 2;
}

.groups {
    grid-row: 4;
}

.shops {
    grid-row: 3;
}
