/* || --------- Fonts ------------- */
/* Titles */
@font-face {
    font-family: "Titan One";
    src: 
    local("TitanOne-Regular"),
    url("./fonts/TitanOne-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* body */
@font-face {
    font-family: "Red Rose";
    src: 
        local("RedRose"),
        url("./fonts/RedRose-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 0 700;
    font-style: normal;
    font-display: swap;
}

/* side notes */
@font-face {
    font-family: "Shantelle Sans";
    src:
    local("ShantellSans"),
    url("ShantellSans-VariableFont.ttf") format("truetype"),
    url("./fonts/ShantellSans-VariableFont.ttf") format('ttf-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

/* || --------------------Text and Typography------------------ */
:root {
    /* font-families */
    --font-titan-head: "Titan One", sans-serif;
    --font-rose-body: "Red Rose", sans-serif;
    --font-shantell-notes: "Shantell Sans", sans-serif;
    /* replace these */
    --font-title: "Titan One", sans-serif;
    --font-body: "Red Rose", sans-serif;

    /* letter-spacing */
    --letter-space-titan: .15ch;
    --letter-space-rose: .2ch;
    --letter-space-shantell: .35ch;
     
    /* font-size hierarchy */
    
    /* Hero / Page Titles */
    --fs-hero: clamp(1.75rem, 5vw + 1rem, 4rem);
    --fs-title: clamp(1.75rem, 5vw + 1rem, 4rem); 
    --fs-title-2: clamp(1.5rem, 4vw + 1rem, 3.2rem);
    
    /* Section Headings */
    --fs-heading-xl: clamp(1.35rem, 3vw + 0.5rem, 2.2rem);
    --fs-heading-large: clamp(1.25rem, 2vw + 0.5rem, 1.8rem);
    --fs-heading-mid: clamp(1.1rem, 1.5vw + 0.5rem, 1.5rem);
    --fs-heading-small: clamp(1.05rem, 0.5vw + 1rem, 1.2rem);
    
    /* Body Text (Standard is 1rem / 16px) */
    --fs-p1: clamp(1rem, 0.5vw + 0.9rem, 1.125rem);
    --fs-p2: clamp(1rem, 0.2vw + 0.95rem, 1.05rem);       
    --fs-p3: clamp(0.875rem, 0.1vw + 0.85rem, 0.95rem);
    
    /* UI Elements */
    --fs-bttn: clamp(0.9rem, 0.5vw + 0.8rem, 1.1rem);
    --fs-caption: clamp(0.8rem, 0.2vw + 0.75rem, 0.9rem);
    --fs-footer: clamp(0.75rem, 0.1vw + 0.7rem, 0.85rem);
}

h1 {
    font-family: var(--font-titan-head);
    letter-spacing: var(--letter-space-titan);
    font-size: var(--fs-title-2);
    margin: 2rem .8rem;

    
}

h2 {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    font-size: var(--fs-heading-xl);
    margin: 1.5rem .5rem;

    text-transform: uppercase;
    
}

h3 {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    font-size: var(--fs-heading-large);
    font-style: bold;
    margin: 1.2rem .5rem;
}

h4 {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    font-size: var(--fs-heading-mid);
    font-weight: 600;
    margin: 1rem .5rem;

}

h5 {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    font-size: var(--fs-heading-small);
    margin: .8rem .5rem;
    
}

h6 {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    font-size: var(--fs-p1);
    text-transform: uppercase;
    margin: .8rem .5rem;

}

p {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    line-height: 1.6;

    max-width: 65ch; 
    margin-bottom: 1.5rem;
    
}

span {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
}

label {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);

}
small {
    font-family: var(--font-rose-body);
    letter-spacing: var(--letter-space-rose);
    font-size: var(--fs-caption);

}

.p1 {
    font-size: var(--fs-p1);
}
.p2 {
    font-size: var(--fs-p2);
}
.p3 {
    font-size: var(--fs-p3);
}

.caption {
    font-size: var(--fs-caption);
    text-transform: uppercase;
}

.note {
    font-family: var(--font-shantell-notes);
    letter-spacing: var(--letter-space-shantell);
    font-style: italic;
    text-transform: uppercase;
    font-variation-settings: "wght" 600, "INFM" 100, "BNCE" 100;
    
    font-size: var(--fs-caption);
    color: var(--ob-brown);
    display: inline-block;
    max-width: 35ch;
}

.note:hover {
    transition: font-variation-settings 0.3s ease;
    font-variation-settings: "wght" 800, "INFM" 50, "BNCE" 0;
}

.handwritten {
    font-family: var(--font-shantell-notes);
    letter-spacing: var(--letter-space-shantell);
    font-size: var(--fs-heading-mid); 
    line-height: 1.4;
    color: var(--second-teal); 
    display: inline-block;
}
.note-sticker {
    background-color: var(--ow-purple); 
    padding: 1rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    transform: rotate(-2deg);
    border-radius: 2px;
}

.handwritten, .note {
    font-variation-settings: "BNCE" 50, "INFM" 50; 
}

.marker-highlight {
    background: linear-gradient(104deg, rgba(255, 230, 0, 0.4) 0.9%, rgba(255, 230, 0, 0.7) 2.4%, rgba(255, 230, 0, 0.3) 5.8%, rgba(255, 230, 0, 0.1) 93%, rgba(255, 230, 0, 0.7) 96%, rgba(255, 230, 0, 0.2) 98%);
    border-radius: 1em 0.2em;
    padding: 0.1em 0.4em;
    display: inline;
}


.highlight {
    color: var(--mid-pink);
}
.highlight-2 {
    color: var(--ob-teal);
    /* border: 2px dashed var(--shadow-teal-2); */
    text-align: center;
}
.highlight-3 {
    color: var(--mid-purple)
}

.left-lean {
    width: inherit;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: 10%;
}
