footer {
    background-color: var(--main-brown-light);
    color: var(--main-bg-light);
    display: grid;
    grid-template-rows: 1fr;


    > * {
        font-family: 'red rose';
    }
    


}


#mainFooter {
    background-color: var(--main-brown-light);
    box-sizing: border-box;
    padding: 3ch;
    width: 100%;
    margin-top: 2ch;

}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    text-align: center;
    
    > * {
        justify-items: center;
        align-content: center;

    }
}

#endLogo {
    /* height: 10px; */
    width: 80px;
    padding: 2ch;

}

a {
    color: var(--main-bg-light);
    text-decoration: underline var(--accent-mid-orange);
    text-underline-offset: .7ch;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;

}