/* SECTION WRAP */
#mainFooter {
    background-color: var(--main-brown-light);
    color: var(--main-bg-light);
    box-sizing: border-box;
    padding: 3ch;
    width: 100%;
    height: 90vh;
    margin-top: 2ch;
    text-align: center;
    font-family: 'red rose';
    letter-spacing: .2ch;
    line-height: 2.4ch;

}

/* text links */
#mainFooter a {
    color: var(--main-bg-light);
    text-decoration: underline var(--accent-mid-orange);
    text-underline-offset: .7ch;
}

#mainFooter a:hover {
    color: var(--accent-mid-orange);
}

/* footer logo */
#endLogo {
    width: 80px;
    aspect-ratio: 1;
    padding: 2ch;
    margin-block: .7rem;
    margin-inline: 1.5rem;

}

/* socials bar */
.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: .9rem;
    margin-inline: .1rem;
}

/* lower divs */
.toe {
    gap: clamp(1.1rem, .5rem, 5rem);
    margin-block: .5rem;
    margin-inline: 1rem;
}


footer {
    display: grid;
    grid-template-rows: auto auto;

}

/* large screen layout - rows */
@media (min-width: 752px) { 

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr );
        
    }


}


/* small screen layout - column */
@media (max-width: 751px) {

    footer {
        grid-template-rows: auto 1fr;
    }

    #upperFoot {
        height: min-content;
    }
    
    #lowerFoot {
        display: grid;
        grid-template-rows:  repeat(auto)3;
        margin-top: 1em;
    }

    .row1 {grid-row-start: 1;}

    .row2 {grid-row-start: 2;}

    .row3 { grid-row-start: 3;}
}