/* SECTION WRAP - BASELAYOUT*/ 

#mainFooter {
    background-color: var(--main-brown);
    color: var(--main-light);
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    height: min(max-content);
    margin-top: 2rem;
    text-align: center;
    font-family: 'red rose';
    letter-spacing: var(--letter-space-rose);
    line-height: 2.4ch;
    
}

footer {
    display: flex;
    flex-direction: column;
}

@media (min-width: 621px) {
    #upperFoot, #lowerFoot, #endFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #upperFoot {
        justify-content: space-around;
    }
}

@media (max-width: 620px) {
    #upperFoot, #lowerFoot, #endFooter {
        flex-direction: column;
        
    }
}

#lowerFoot {
    gap: 2rem;
}

.low-block{
    min-width: 30ch;
}

/* COMPONENT - FOOTER */

/* text links */
.bold-links a {
    color: var(--main-light);
    text-decoration: underline var(--mid-orange);
    text-underline-offset: .6rem;
}

.bold-links a:hover {
    color: var(--mid-orange);
}

/* SITE MAP */
.simple-links a{
    color: var(--text-white);
}
.simple-links a:hover{
    color: var(--main-pink);
    font-size: var(--fs-caption);
}

/* GENERAL */
#mainFooter p {
    font-size: var(--fs-footer);

}
/* footer logo */
#endLogo {
    max-width: 130px;
    aspect-ratio: 1;
    padding: 1rem;
    margin-block: .7rem;
    margin-inline: auto;

}

/* socials bar */
.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: .9rem;
    margin-inline: .1rem;
}

.donate-block{
    align-items: center;
}

/* lower divs */
/* .toe {
    gap: clamp(1.1rem, .5rem, 5rem);
    margin-block: .5rem;
    margin-inline: 1rem;
    justify-items: center;

} */

.toe p {
    line-height: 2.1;
    
}





.legal-info{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    justify-content: center;
}

.legal-info p {
    max-width: 400px;
}

.legal-link {
    display: flex;
    flex-direction: column;

    /* align-items: flex-end; */
    justify-self: end;
}

@media (max-width: 751px) {
    

    .legal-info{
        max-width: 100%;
    }
    
    .legal-link{
        max-width: 100%;
        align-items: center;
    }
}

.footer-nav-list{
    text-align: left;
    justify-items: left;
}




/* max-width: 100% and flex-basis: 300px */
/* flex children: min-width: 0 */

/* Parent: Needs max-width: 100% and overflow: hidden (the safety net).

Child: Needs width: 0 (to kill global 100% rules), flex-grow: 1 (to fill space), and min-width: 0 (to allow shrinking). */