/* || --------------------Insert title here------------------ */
/* ----insert title here 2---- */
/* small  notes */

/* Headers and brand main */
@font-face {
    font-family: "Titan One";
    src: 
    local("TitanOne-Regular"),
    url("TitanOne-Regular.ttf");
}

/* body */
@font-face {
    font-family: "Red Rose";
    src: 
    local("RedRose"),
    url("RedRose-VariableFont_wght.ttf");
}

/* 5 font weights bold - light - medium - regular - semibold */

/* side notes */
@font-face {
    font-family: "Shantelle Sans";
    src:
    local("ShantellSans"),
    url("ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf");
    
}

/* 12 weights including italic */

/* || -----------------------Brand and Project colours-------------- */
:root {
    /* YJP brand colours - main */
    --main-bg-light: #fff9ed;
    --main-orange: #ff9224;
    --main-purple: #9c49ea;
    --main-teal: #4bc9b4;
    --main-yellow: #f6d246;
    --main-pink: #ff449b;
    --main-brown-light: #582b1c;
    --main-brown-dark: #2d160e;
    
    /* YJP brand colours - accent */
    --accent-dark-teal: #124941;
    --accent-mid-teal: #1c7568;
    --accent-mid-purple: #6e17c0;
    --accent-dark-purple: #400b60;
    --accent-mid-orange: #e47200;
    --accent-dark-orange: #7d3e00;
    --accent-mid-yellow: #d8af0a;
    --accent-dark-yellow: #6c5705;
    --accent-mid-pink: #d80066;
    --accent-dark-pink: #83003d;
    
    --black: #302f2c;
    --grey: #4a4844;
    
    /* technical colours */
    --highlight: #ebe9e5;
    --highlight2:rgba(235, 233, 229, 0.644)5;
    --shadow-grey: #4a484470;
    --shadow-light: #cdc9c270;
    
    
}

/* || --------------------Text and Typography------------------ */
:root {
    
    --font-title: "Titan One", sans-serif;
    --font-body: "Red Rose", sans-serif;
    --font-hw: "Shantell Sans", sans-serif;
    
    --text-white: ;
    --text-black: ;
    
    --text-bg-orange: ;
    --text-bg-yellow: ;
    --text-bg-teal: ;
    --text-bg-pink: ;
    --text-bg-purple: ;
    --text-bg-brown: ;
    --bg-orange-1: #e47200a7;
    --bg-orange-2: #ff9124bf;
}




/* --------------------Structure and foundation------------------ */
body {
    display: grid;
    grid-template-areas: 
    "header"
    "body"
    "footer";
}

body {
    background-color: var(--main-bg-light);
    font: var(--black);
    margin: 0;
    letter-spacing: .2ch;

    overflow-x: hidden;
    
    
    /* ----text foundation styles---- */
    h1, h2 {
        font-family: var(--font-title);
        font-weight: 100;
    } 

    p {
        font-family: var(--font-body);
        font-weight: 200;
        
    }
    
}


/* || --------------------Template set up------------------ */
#mainHeader {
    grid-area: header;
    position: sticky;
    flex-shrink: 0;
    top: 0;
    z-index: 10;
}

.fullView {
    height: 100vh;

}

.midView {
    height: 60vh;

}
/* media query for 1030< to shrink the nav to pop out */

#mainBody {
    grid-area: body;
    min-height: 100vh;
    flex-grow: 1;
    padding: 1ch;
}

/* media query to stack footer 1030< */

#mainFooter {
    grid-area: footer;
}



/* || --------------------Utilities------------------ */

button { cursor: pointer;}

a {text-decoration: none;}
a:visited {opacity: 90%; }

.srOnly {display: none;}


/* || --------------------SITEWIDE------------------ */

/* ----Return to top button---- */
/* .topBttn   { */
#toTop   {
    z-index: 1000;
    position: fixed;
    width: 35px;
    height: 50px;
    bottom: 40px;
    right: 30px;
    background-color: var(--accent-mid-yellow);
    border-radius: 10px 5px 5px 5px;
    opacity: 80%;
    margin: .2ch;
    padding: 1ch;
    justify-items: center;
    align-content: center;
    border: var(--shadow-grey);
    color: var(--black);
    font-size: .5rem;
    
}

#toTop:hover {
    opacity: 100%;
}

#toTop > img {
    height: 20px;
    width: 20px;
    justify-self: center;
    padding: .1ch;


}



/* ----Return to top button---- */

/* ... */

/* || --------------------Buttons------------------ */
/* ----insert title here 2---- */
/* small  notes */