/* || --------- Fonts ------------- */
/* Titles */
@font-face {
    font-family: "Titan One";
    src: 
    local("TitanOne-Regular"),
    url("TitanOne-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* body */
@font-face {
    font-family: "Red Rose";
    src: 
    local("RedRose"),
    url("RedRose-VariableFont_wght.woff2") format("Woff2 supports variations"),
    url("RedRose-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 0 700;
}

/* side notes */
@font-face {
    font-family: "Shantelle Sans";
    src:
    local("ShantellSans"),
    url("ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf") format('ttf supports variations'),
    url("ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf") format('ttf-variations');
    font-weight: 0 900;
    
}

/* || --------------------Text and Typography------------------ */
:root {
    
    --font-title: "Titan One", sans-serif;

    --font-body: "Red Rose", sans-serif;
    /* --font-body-light: "Red Rose light", sans-serif;
    --font-body-reg: "Red Rose regular", sans-serif;
    --font-body-mid: "Red Rose medium", sans-serif;
    --font-body-semi: "Red Rose semibold", sans-serif;
    --font-body-bold: "Red Rose bold", sans-serif; */

    --font-handwriten: "Shantell Sans", sans-serif;
    /* --font-handwriten-light: "Shantell Sans light", sans-serif;
    --font-handwriten-reg: "Shantell Sans regular", sans-serif;
    --font-handwriten-med: "Shantell Sans medium", sans-serif;
    --font-handwriten-semi: "Shantell Sans semibold", sans-serif;
    --font-handwriten-bold: "Shantell Sans bold", sans-serif;
    --font-handwriten-extra: "Shantell Sans extrabold", sans-serif; */

    --letter-space-titan: .15ch;
    --letter-space-rose: .2ch;
    --letter-space-shantell: .35ch;
    
    --fs-title: clamp(2rem, 7vw + .2rem, 3.5rem);
    --fs-title-2: clamp(1.845rem, 3vw + .2rem, 3.1rem);
    
    --fs-heading-xl: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    --fs-heading-large: clamp(1.3rem, 2vw + 1rem, 2.1rem);
    --fs-heading-mid: clamp(1.225rem, 2vw + 1rem, 1.758rem);
    --fs-heading-small: clamp(1.1rem, 2vw + 1rem, 1.5rem);
    
    --fs-p1: clamp(1.5rem, 2vw + 1rem, 1.5rem);
    --fs-p2: clamp(1.25rem, 2vw + 1rem, 1.3rem);
    --fs-p3: clamp(1.125rem, 2vw + 1rem, 1.1rem);
    --fs-caption: clamp(.625rem, 2vw + 1rem, 1rem);
    
    --fs-note-large: clamp(.8rem, .2rem, .1.3rem);
    --fs-note-small: clamp(.5rem, .2rem, 1rem);
    
    
}

h1 {
    font-family: var(--font-title);
    font-size: var(--fs-title);
    letter-spacing: var(--letter-space-titan);
    
}

h2 {
    font-family: var(--font-body);
    font-size: var(--fs-title-2);
    letter-spacing: var(--letter-space-titan);
    font-weight: 900;
    text-transform: uppercase;
    
}

h3 {
    font-family: var(--font-body);
    font-size: var(--fs-heading-xl);
    font-weight: 700;
    letter-spacing: var(--letter-space-rose);
    font-style: bold;
}

h4 {
    font-family: var(--font-body);
    font-size: var(--fs-heading-large);
    letter-spacing: var(--letter-space-rose);
    font-weight: 600;
}

h5 {
    font-family: var(--font-body);
    font-size: var(--fs-heading-mid);
    letter-spacing: var(--letter-space-rose);
    font-weight: 500;
}

h6 {
    font-family: var(--font-body);
    font-size: var(--fs-heading-small);
    letter-spacing: var(--letter-space-rose);
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: var(--font-body);
    letter-spacing: var(--letter-space-rose);
    font-weight: 400;
    
}

.p1 {
    font-weight: 700;
    font-size: var(--fs-p1);
}
.p2 {
    font-weight: 500;
    font-size: var(--fs-p2);
}
.p3 {
    font-weight: 400;
    font-size: var(--fs-p3);
}

.caption {
    font-size: var(--fs-caption);
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 500;
}

.note {
    font-family: var(--font-handwriten);
    letter-spacing: var(--letter-space-shantell);
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}



/* || -----------------------Brand and Project colours-------------- */
:root {
    /* YJP brand colours - main */
    --main-bg-light: #fff9ed;
    --main-orange: #ff9224;
    --main-purple: #9c49ea;
    --main-teal: #4bc9b4;
    --main-yellow: #f6d246;
    --main-pink: #ff449b;
    --main-brown-light: #582b1c;
    --main-brown-dark: #2d160e;
    
    /* YJP brand colours - accent */
    --accent-dark-teal: #124941;
    --accent-mid-teal: #1c7568;
    --accent-mid-purple: #6e17c0;
    --accent-dark-purple: #400b60;
    --accent-mid-orange: #e47200;
    --accent-dark-orange: #7d3e00;
    --accent-mid-yellow: #d8af0a;
    --accent-dark-yellow: #6c5705;
    --accent-mid-pink: #d80066;
    --accent-dark-pink: #83003d;
    
    --black: #302f2c;
    --grey: #4a4844;
    
    /* technical colours */
    --highlight: #ebe9e5;
    --highlight2:rgba(235, 233, 229, 0.644)5;
    --shadow-grey: #4a484470;
    --shadow-light: #cdc9c270;
    
    --text-white: ;
    --text-black: ;
    
    --text-bg-orange: ;
    --text-bg-yellow: ;
    --text-bg-teal: ;
    --text-bg-pink: ;
    --text-bg-purple: ;
    --text-bg-brown: ;
    --bg-orange-1: #e47200a7;
    --bg-orange-2: #ff9124bf;
    
}


/* || --------------------Utilities------------------ */

button { cursor: pointer;}

ul {list-style: none;}
a {text-decoration: none;}
a:visited {opacity: 90%; }

.srOnly {display: none;}

.flex {display: flex;}
.grid {display: grid;} 


/* --------------------Structure and foundation------------------ */
:root {
    --head-height: clamp(72px, 15vh, 80px);
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "body"
    "footer";
}

body {
    background-color: var(--main-bg-light);
    font: var(--main-brown-dark);
    margin: 0;

    overflow-x: hidden;
}   
    
/* || --------------------Template set up------------------ */
#mainHeader {
    grid-area: header;
    position: sticky;
    flex-shrink: 0;
    top: 0;
    z-index: 10;
}

.fullView {
    height: 100vh;

}

.midView {
    height: 60vh;

}

#mainBody {
    grid-area: body;
    min-height: 100vh;
    flex-grow: 1;
    padding: 1ch;
}

#mainFooter {
    grid-area: footer;
}

/* || --------------------SITEWIDE------------------ */

/* ----Return to top button---- */
#toTop   {
    z-index: 1000;
    position: fixed;
    width: 35px;
    height: 50px;
    bottom: 40px;
    right: 30px;
    background-color: var(--accent-mid-yellow);
    border-radius: 10px 5px 5px 5px;
    opacity: 80%;
    margin: .2ch;
    padding: 1ch;
    justify-items: center;
    align-content: center;
    border: var(--shadow-grey);
    color: var(--black);
    font-size: .5rem;
    
}

#toTop:hover {
    opacity: 100%;
}

#toTop > img {
    height: 20px;
    width: 20px;
    justify-self: center;
    padding: .1ch;


}

/* || --------------------Insert title here------------------ */
/* ----insert title here 2---- */
/* small  notes */

/* ----Return to top button---- */

/* ... */

/* || --------------------Buttons------------------ */
/* ----insert title here 2---- */
/* small  notes */