/* ----Header---- */

#site-header  {
    display: grid;
    grid-template-columns: minmax(100px, 120px) auto;
    width: 100%;
    height:var(--head-height);
    box-sizing: border-box;
    column-gap: 2% 1%;

    box-shadow: -0 1px 5px var(--shadow-grey);
    border-radius: 0 10px;
    /* background-color: var(--main-light); */
    background-color: var(--main-bg-light);

}


/* Main logo*/
#headLogo {
    width: 5rem;
    position: fixed;
    top: 17px;
    left: 20px;
    
    filter: drop-shadow(0 5px 1px var(--shadow-grey));
}

#theNav {
    display: grid;
    grid-template-columns: 85% 10%;
    gap: 1rem;

}

/* ----------------------Main Navigation menu------------------------- */


ul li {
    margin-inline: .8ch;

    font-family: 'red rose';
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .1ch;
    list-style: none;
    
}

li a {
    flex-wrap: nowrap;
    text-wrap: nowrap;
    color: var(--ob-brown);
}


/*------------ PAGE TOP NAVIGATION ------------ */
#navigation{
    align-content: center;
}

#main-nav {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: .1rem;
    gap: 2%;
    
    text-align: center;
}

@media (max-width: 680px) {
    #navigation > #main-nav {
        display: none;
    }
}


#main-nav a {
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

#main-nav a:hover {
    color: var(--second-brown);
    border-bottom: 3px solid var(--main-orange);
}

/*---------------- toggle button */

#nav-menu-toggle { 
    display: block;
    /* margin-bottom: 1rem; */
    position: absolute;
    z-index: 9999;
    width: 2em;
    top: 1.5rem;
    right: 2rem;
    
    aspect-ratio: 1;
    background: url(/src/assets/branding/menu.icon.1.svg);
    background-repeat: no-repeat;
    border: none;
}

#nav-menu-toggle[aria-expanded='true'] {
    background: url(/src/assets/branding/crossClose1.svg);
    z-index: 99999;
}

/*------------ EXPANDED NAVIGATION ------------ */
#expanded-navigation {
    z-index: 8000;

    display: flex;
    position: fixed;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    inset: 0 0 10% 20%;
    /* min-height: 35rem; */
    /* height: 90%; */

    
    background-color: var(--mid-orange);
    background-color: var(--ow-orange);
    border-radius: 0 0 0 8px;
    overflow-y: scroll;
    scrollbar-color: transparent var(--ow-brown);
    scrollbar-color:  var(--main-brown) var(--ow-orange);
    
    transform: translatex(100%);
    transition: transform 380ms ease-in-out;


}

@supports (backdrop-filter: blur(.7rem)) {
    #expanded-navigation {
        backdrop-filter: blur(.8rem);
    }
}

#expanded-navigation[data-visible="true"] {
    transform: translateX(0%);
}

#full-nav{
    display: grid;
    margin-left: 30px;
    gap: 3px;
    height: 100%;
    justify-items: space-around;
}

#full-nav .home-list a:not(.special-link):hover{
    background-color: var(--ow-purple);
    padding-inline: .5rem;
    border-radius: 4px;
}
#full-nav .business-list a:hover{
    background-color: var(--ow-yellow);
    background-color: var(--second-yellow);
    padding-inline: .5rem;
    border-radius: 4px;
}
#full-nav .brand-list a:hover{
    background-color: var(--ow-teal);
    padding-inline: .5rem;
    border-radius: 4px;
}


.nav-block {
    height: max-content;
    margin-bottom: 2rem;
}


.Head-nav-link{
    font-size: var(--fs-p2);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 8px;
}

.sub-nav{
    padding-left: 6px;
    margin-top: .8rem;
}

.sub-nav li {
    font-size: var(--fs-p4);
    padding: .2rem;
} 
.special-list{
    margin-top: .8rem;
}

.special-link{
    /* color: var(--special-teal); */
    background-color: black;
    background-color: white;
    padding: .3rem .5rem;
    border-radius: 4px;
    
}

.special-link:hover{
    background-color: var(--second-pink);

}