/* ----Header---- */

header {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: minmax(100px, 120px) auto max-content;
    column-gap: 2%;
    height:75px;
    width: 100%;
    box-shadow: -0 1px 5px var(--shadow-grey);
    border-radius: 0 10px;
    background-color: var(--main-bg-light);

}

/* Main logo*/
#headLogo {
    filter: drop-shadow(0 5px 1px var(--shadow-grey));
    width: 75px;
    position: fixed;
    top: 17px;
    left: 20px;
    
}

/* ----Primary call To action button---- */

#theCall {
    align-content: center;
    justify-content: center;
    justify-items: center;
    /* padding-inline-end: 1rem; */
}

#CTA {
    /* align-items: center; */
    justify-items: center;
    width: 1fr;
    padding-block: 1.2ch;
    padding-inline: 2ch;
    border-radius: 10px 5px 5px 5px;
    border: .2px solid var(--shadow-grey);
    background-color: var(--main-teal);
    box-shadow: 3px 3px 8px 1px var(--shadow-grey);
    margin-inline: 1ch;
    font-family: 'Red Rose';
    color: var(--main-brown-dark);
    letter-spacing: .3ch;
    font-weight: 600;
    
}

#CTA:hover {
    cursor: pointer;
    color: var(--main-bg-light);
    background-color: var(--accent-mid-teal);


}


/* Main Navigation menu */

#mainNav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1ch;
    gap: 2%;
    list-style: none;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1ch;
    font-family: 'red rose';
    font-weight: 600;
    
}

#mainNav li {
    margin-inline: .8ch;
    
}

#mainNav a {
    flex-wrap: nowrap;
    text-wrap: nowrap;
    color: var(--main-brown-dark);
}

#theNav {
    padding-inline: 2ch;
}

.mobileNavToggle {
    display: none;
}

/* Mobile pop-out Navigation */
@media (max-width: 38em) {
    #mainNav {
        position: fixed;
        gap: 2em;
        margin: 0;
        z-index: 1000;
        padding: min(40vh, 8rem) 2rem;
        inset: 0 0 0 30%;
        height: 40vh;
        
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: var(--bg-orange-1);
        border-radius: 0 0 0 8px;
        
        transform: translatex(100%);
        transition: transform 380ms ease-in-out;
    }
    
    #mainNav[data-visible="true"] {
        transform: translateX(0%);
    }


    @supports (backdrop-filter: blur(.7rem)) {
        #mainNav {
            backdrop-filter: blur(.7rem);
        }
    }

    
    .mobileNavToggle {
        display: block;
        position: absolute;
        z-index: 9999;
        aspect-ratio: 1;
        width: 2em;
        top: 2rem;
        right: 2rem;
        background: url(/branding/menu.icon.1.svg);
        background-repeat: no-repeat;
        border: none;
        
    }

    .mobileNavToggle[aria-expanded='true'] {
        background: url(/branding/crossClose1.svg);
    }
        
        
    #mainNav li {
        padding-left: 2.8em;
        font-size: 1.4rem;
    }
}


@media (max-width: 755px) {

    header {
        grid-template-columns: auto auto;
    }
    
    #CTA { display: none;}
    #theCall { display: none;}

}
