
/* ------ LAYOUT ------ */
.scroll-snap{
    scroll-snap-type: y proximity ;
}


#hero-section {
    padding: 0;
    height: max-content;
    width: auto;
}

#festival-list {
    max-height: 70svh;
    width: inherit;
    justify-content: center;
    align-content: center;
    margin-bottom: 3rem;
    text-align: center;
    border-radius: 150px;
    border: 2px solid var(--shadow-pink);
    background-color: var(--main-yellow);

    background-image: 
    linear-gradient( var(--shadow-pink-2), var(--shadow-pink-2), var(--shadow-teal-2)),
    url(/src/assets/layout/image5.jpg);
    background-size: cover;
    
}
 

.center-focus > .center-div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 85%;

    justify-content: space-around;
    justify-self: center;
    align-content: center;

    border-radius: 200px;
}

@supports (backdrop-filter: blur(.9rem)) {

    .blur-back-1 {
        backdrop-filter: blur(.1rem);
    }

}


#our-mission {
    border-radius: 4px;
    border: 13px solid var(--mid-orange);
    border-image: linear-gradient(to top, var(--grey-orange), var(--mid-orange), var(--main-orange)) 1;
    
}

#learn-to-skate {
    border: 13px solid var(--ob-purple);
    border-image: linear-gradient(to bottom, var(--grey-orange), var(--mid-orange), var(--main-orange)) 1;

}





@media (max-width: 765px) {



  


}

.heading-banner{
    text-align: center;
}

.title {
    font-size: var(--fs-title);
}

.sub-heading {
    font-size: var(--fs-p3);
    font-weight: 600;
    font-style: bold;
}

/* ------ FEATURE SECTION ------ */ 

#feature-section > .carosel {
    background-color: #fffeff;
    background-color: var(--background-light);
    border-left: 5px double var(--mid-orange);
    border-right: 5px double var(--mid-purple);
    border-top: 0;
    border-bottom: 0;
    border-radius: 100px;

    box-shadow: 
    -2rem .1rem 3rem var(--shadow-orange), 
    2rem .1rem 3rem var(--shadow-purple);
    height: 550px;

    display: grid;
    grid-template-rows: 6% repeat(4, 20%) 14%;
    grid-template-columns: auto;
    gap: 0 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--mid-brown) var(--shadow-yellow);
    width: auto;
}

#feature-section h3 {
    text-align: center;
    text-underline-offset: 50%;
    text-decoration: underline var(--grey-yellow);
}

/* ------ FESTIVAL SECTION ------ */ 

#festival-list h3 {
    font-size: var(--fs-title-2);
    text-wrap: stable;
    color: var(--text-white);
    text-shadow: 
    4px 4px 7px var(--second-brown), 
    0 0 .3rem var(--text-black);

}

.year-highlight {
    color: var(--text-white);
    text-shadow: 2px 3px 8px var(--second-brown), 3px 1px 15px var(--text-black);
}



/* ------ SIDE-BY-SIDE ------ */ 
.side-by-side {
    display: grid;
    
    grid-template-columns: 35% 60%;
    grid-template-rows: auto; 
    gap: 2%;
    
}

.side-a{
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 1rem;
    margin-top: 10%;
    align-content: center;
}

.side-a > * {
    margin-left: 10%;
}

.side-b{
    grid-column: 2 / 3;
    overflow-X: hidden;
}

@media (max-width: 780px) {
    .side-by-side {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        min-height: 720px;
    }
    
    .side-a{
        align-content: center;
    }
    
    .side-b{ 
        overflow-X: hidden;
    }
}

/* -------- CAROSEL GRID ------------ */

.carosel {
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: auto;

    gap: 0 10%;
    overflow-X: auto;
    grid-auto-flow: column;
    width: clamp(10.625rem, 28rem + 1vw, 68.25rem);

    padding-inline: 40px;
    
    margin-top: 2rem;
    border: 2px solid var(--ob-orange);
    border-radius: 20px;
    box-shadow: .5rem .3rem 1.3rem var(--shadow-grey);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--mid-brown) var(--shadow-yellow);
    
    box-sizing: border-box;
    margin-inline: .2rem;
}



/* -----------CAROSEL ITEMS---------- */

.none-returned {
    padding: 5px;
    margin-block: 2rem;
    justify-items: center;
    align-items: center;
    background-color: var(--shadow-brown);
    min-height: 3rem;
    border-radius: 8px;
}

/* Base Wrapper */
.sample-case{
    grid-row: 2 / 3;

    display: block;  
    text-decoration: none;
    color: inherit;
    /* min-height: 450px; */
    scroll-snap-align: center;
    border-radius: 12px;

}

.sample-case:hover .post-card {
    transform: translateY(-4px);
}
    
    /* universal card */
.post-card {
    height: 100%;
    
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: auto;

    border: 2px solid var(--ow-brown);
    border-radius: 12PX;
    background: var(--shadow-orange);
    box-shadow: 0 0 4px 0 var(--box-teal),0 0 40px 0 var(--shadow-yellow);
    
    transition: 
        transform 1s .1s ease, 
        box-shadow 0.5s ease, 
        grid-row .5s ease;
}

#skate-news {
    margin-bottom: 2rem; 
}

@media (max-width: 790px) {
    .carosel{
        width: clamp(19.625rem, 35rem + 5vw, 36.25rem);

    }

    .sample-case{


        
    }

    .post-card {

    }


}

/* NEW POST CARD COMPONENT  */
  .poster-block{
  }
  .content-block{
  }

  .variant-placeholder .post-card {
    /* height: 100%; */
    background: var(--ob-orange);
  }


.post-card:hover  {
    scale: 1.03;
    box-shadow: .5rem .3rem 1.3rem var(--shadow-orange);
}

.poster-block {

    transition: transform 0.4s ease-in-out, scale 0.4s ease;

}


.content-block {
    grid-row: 3 / -1;
    z-index: 5;
    
    border-radius: 14px 14px 0 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;

    color: var(--text-white);
    font-size: var(--fs-p1);
    background-color: var(--grey-pink);
}

.content-block >* {
    margin-left: 6%;
}

.card-heading {
    font-size: var(--fs-heading-small);
    margin-inline: auto;
    margin-bottom: 0.2rem;
    text-align: center;
}

/* -----------VARIETY STYLES---------- */
/* EVENT */
.variant-event{


}

.card-event{
    

}
.event-content{
    
    
}
/* BLOG */
#skate-news .carosel {
    min-height: 450px;
}

.card-blog{

}
.post-card.card-blog {
    width: 350px;
    min-height: auto;
    grid-row: 2 / -2;
    overflow: hidden;
}

.variant-blog{
    height: auto;
    padding: 0 2px;
    background-color: var(--shadow-orange);
    
    
}

.blog-content{
    
    overflow: hidden;
    /* height: auto; */
    
    
}
.blog-content-full{
    height: auto;
    background-color: var(--mid-orange);
    grid-row: 1 / -1;
    overflow: hidden;
    height: 100%;
    
    
}

.blog-top {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.blog-base {
    grid-row: 3 / -1;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* PLACEHOLDER */
.variant-placeholder{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 100%;
    background-color: var(--shadow-pink);
    width: clamp(15.625rem, 20rem + 5vw, 26.25rem);

    align-items: center;

    justify-content: center;

    transition: all .8s ease-in-out;

}

.placeholder-content{
    /* margin: auto; */
    /* justify-self: center; */
    /* align-self: center; */
    grid-row: 2 / -2;
    text-align: center;
    font-size: var(--fs-heading-large);

    transition: 
        background-color .3s ease-in;
}

.variant-placeholder:hover {
    background-color: var(--mid-pink);
}


#upcoming-events .variant-placeholder {
    background-color: var(--shadow-pink);
}
#skate-news .variant-placeholder {
    background-color: var(--shadow-orange);
}



