
/* ------ HERO SECTION ------ */ 
#hero-section {
    padding: 0;
    width: auto;
    /* max-height: 100%; */
    overflow: clip;
}

/* ------ FESTIVAL SECTION ------ */ 
#festival-list {
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 150px;
    border: 2px solid var(--shadow-pink);
    background-color: var(--main-yellow);

    background-image: 
    /* linear-gradient( var(--shadow-pink-2), var(--shadow-pink-2), var(--shadow-teal-2)), */
    linear-gradient( var(--shadow-teal), var(--shadow-teal-2)),
    linear-gradient( transparent, var(--shadow-teal-2)),
    url(/src/assets/layout/image5.jpg);
    background-size: cover;
    background-position: bottom;
    
}
 

.center-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 15rem;
    gap: 1rem;
    padding: 1rem;


    justify-content: space-evenly;
    justify-self: center;
    align-content: center;

    border-radius: 200px;
}

@supports (backdrop-filter: blur(.9rem)) {

    .center-div {
        backdrop-filter: blur(.1rem);
    }

}

#festival-list .title {
    font-size: var(--fs-title-2);
    font-size: var(--fs-title);
    text-wrap: stable;
    color: var(--text-white);
    text-shadow: 
    4px 4px 7px var(--second-brown), 
    0 0 .3rem var(--text-black);

}

.year-highlight {
    color: var(--text-white);
    text-shadow: 2px 3px 8px var(--second-brown), 3px 1px 15px var(--text-black);
}

@media (width < 520px){

    #festival-list {
        border-radius: 100px;
    }


}


/* ------ DIRECTION SECTIONS  ------ */ 

.direction-box {
    flex: 0 0 40rem;
    height: 18rem;
    padding: 1.2rem;

    justify-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}



#our-mission, #learn-to-skate{
    justify-items: center;
}


#our-mission .direction-box{
    border-radius: 14px;
    /* border: 10px dashed var(--ob-purple); */
    /* border: 3px solid var(--shadow-grey); */
    /* background-color: var(--shadow-purple-2); */
    /* border-image: linear-gradient(to top, var(--grey-orange), var(--mid-orange), var(--main-orange)) 1; */
    
}

@media (max-width: 720px ){
    #our-mission .nav-button{
        display: flex;
        flex-direction: column;
    }
}

#learn-to-skate .direction-box {
    border-radius: 14px;
    /* border: 10px dashed var(--ob-purple); */
    /* border: 3px solid var(--shadow-grey); */
    /* background-color: var(--shadow-yellow); */
    /* border-image: linear-gradient(to bottom, var(--grey-orange), var(--mid-orange), var(--main-orange)) 1; */

}

.heading-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}


.direction-box .heading {
    font-size: var(--fs-heading-xl);
}

.direction-box .heading-sub {
    font-size: var(--fs-p1);

}

.direct-sub{
    font-size: var(--fs-p3);
    text-align: center;
    justify-self: center;
}

/* -------------------- || banner */
#going-global {
    background-color: var(--ow-brown);
    background-color: var(--clear-yellow);
    color: var(--ow-orange);
    color: var(--main-brown);
    color: var(--ob-brown);
    border-top: .3rem solid var(--second-yellow);
    border-bottom: .3rem solid var(--second-yellow);
    padding: .6rem 1rem;
    text-align: center;
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#going-global h2{
    padding-bottom: .3rem;
}

#going-global p{
    width: 100%;
    justify-self: auto;
    text-align: center;
}

#going-global .banner-highlight {
    font-size: var(--fs-p1);
    font-weight: 700;
}

#going-global a{
    color: var(--grey-pink);
}
#going-global a:hover{
    color: var(--ob-pink);
}


/* ------ FEATURE SECTION ------ */ 

#feature-section > .carosel {
    background-color: var(--background-light);
    /* border-left: 5px double var(--mid-purple); */
    /* border-right: 5px double var(--mid-purple); */
    border-top: 0;
    border-bottom: 0;
    border-radius: 100px;
    /* box-shadow:  */
    /* -2rem .1rem 3rem var(--shadow-purple),  */
    /* 2rem .1rem 3rem var(--shadow-purple); */
    scrollbar-width: thin;
    scrollbar-color: var(--mid-brown) var(--shadow-yellow);
    
    min-height: 13rem;
    width: auto;
    max-width: 100%;
    gap: 0 0.8rem;

}


#feature-section h3 {
    text-align: center;
    text-underline-offset: .8rem;
    color: var(--ob-brown);
    text-decoration: underline var(--shadow-yellow);
    font-size: var(--fs-title-2);
}



/* ------ SIDE-BY-SIDE ------ */ 
.side-by-side {
    display: grid;
    
    grid-template-columns: 35% 60%;
    grid-template-rows: auto; 
    gap: 2%;
    
}

.side-a{
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    margin-bottom: 1rem;
    margin-top: 10%;
    align-content: center;
}

.side-a > * {
    margin-left: 10%;
}

.side-b{
    grid-column: 2 / 3;
    overflow-X: hidden;
}

@media (max-width: 780px) {
    .side-by-side {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 2rem; */
        min-height: 720px;
        gap: 0;
    
    }
    
    .side-a{
        align-content: center;
        gap: .8rem;
    }
    
    .side-b{ 
        overflow-X: hidden;
        max-width: 100%;
        padding-inline: .5rem;
    }
}

/* -------- CAROSEL GRID ------------ */

.carosel {

    display: flex; 
    flex-direction: row;
    overflow-x: auto;

    gap: 0 var(--space-md);
    /* width: 100%; */
    max-width: 68.25rem;
    min-height: 30rem;
    margin-top: 2rem;
    margin-inline: auto;

    padding: var(--space-md);
    
    border: 2px solid var(--ob-orange);
    border-radius: 20px;
    box-shadow: 0 0 1.3rem var(--shadow-grey);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--mid-brown) transparent;
    
    box-sizing: border-box;
    margin-inline: .2rem;
}



/* -----------CAROSEL ITEMS---------- */
@media (min-width: 1024px) {
    .carosel > * {
        flex: 0 0 30%; 
    }
}
.carosel > * {
    flex: 0 0 80%; 
}

.none-returned {
    padding: 1rem;
    margin-block: 2rem;
    justify-items: center;
    align-items: center;
    background-color: var(--shadow-pink);
    min-height: 5rem;
    border-radius: 8px;
}


#upcoming-events .variant-placeholder {
    background-color: var(--shadow-yellow);
}

#upcoming-events .variant-placeholder:hover {
    background-color: var(--mid-yellow);
}




#skate-news .variant-placeholder {
    background-color: var(--shadow-teal);
}

#skate-news .variant-placeholder:hover {
    background-color: var(--mid-teal);
}




