/* PRIMARY CONTAINER */
@media (max-width: 767px) {
    .primary-container {
        max-width: 1240px, 80vw;
        margin: auto;
    }
}
    
@media (min-width: 768px){
    .primary-container {
        width: 90vw;
        min-height: max-content;
    }
}

/* FIELD SECTIONS */
@media (max-width: 774px) {
    .dual-field {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 775px) {
    .dual-field {
        display: grid;
        grid-template-columns: auto 60%;
        grid-template-rows: auto;
    }
}

/* DUAL CONTAINERS */
.half-container {
    width: minmax(280px, 50%);
}

/* INFO CONTAINER */
.info {
    min-width: 400px;
}

.info > * {
    width: minmax(max-content, 1fr);
    padding: 1ch;
    margin-inline: 2ch;
}

.info p {
    width: max-content;
    text-wrap: wrap;
}

/* ||------------------------------------------------- FORM SECTION */
/* ||---------------------------------------- PLACEHOLDER */

#placeholder-form {
    background-color: var(--shadow-grey);
    border-radius: 7px;
    padding: 2ch;
    justify-items: center;
    text-justify: center;
    text-align: center;
    margin-inline: 5ch;
    margin-block: 3ch;
}
/* ||---------------------------------------------- FORM DECOR */

.form-wrap {
    width: 3fr;
}

.half-title {
    font-size: var(--fs-heading-small);
    width: max-content;
}

/* ||----------------------------------------- GRID & LAYOUT */

.form-field {
    min-height: 80vh;
}

.event-form {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(18, auto);
    gap: 5px;
    padding-inline: 30px;
    padding-block: 20px;
}

.row-1 {grid-row-start: 1;}
.row-2 {grid-row-start: 2;}
.row-3 {grid-row-start: 3;}
.row-4 {grid-row-start: 4;}
.row-5 {grid-row-start: 5;}
.row-6 {grid-row-start: 6;}
.row-7 {grid-row-start: 7;}
.row-8 {grid-row-start: 8;}
.row-9 {grid-row-start: 9;}
.row-10 {grid-row-start: 10;}
.row-11 {grid-row-start: 11;}
.row-12 {grid-row-start: 12;}
.row-13 {grid-row-start: 13;}
.row-14 {grid-row-start: 14;}
.row-15 {grid-row-start: 15;}
.row-16 {grid-row-start: 16;}
.row-17 {grid-row-start: 17;}
.row-18 {grid-row-start: 18;}
.row-19 {grid-row-start: 19;}
.row-last {grid-row: end;}
 
.span-half {
    grid-column: span 6; 
    /* width: 50%; */
}
.span-full {
    grid-column: span 12; 
    /* width: 100%; */
}

.cell-block{
    margin-block: .35rem;
}
  
.fitted {
    width: max-content;
    margin-block: 2ch;
}

.long-fit {
    width: 100%;
}

.mid-fit {
    width: 70%;
}

.small-fit {
    width: 30%;
}

.describe-it {
    width: 100%;
    min-height: 10ch;
    overflow-y: scroll;
}

.field-box {
    /* background-color: blueviolet; */
    height: 25px;
    border-radius: 8px 5px 5px 5px;

}
.field-box-2 {
    /* background-color: blueviolet; */
    height: 20px;
    border-radius: 3px;

}

.time-container {
    width: max-content;
}

.time-field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    gap: 1ch;
    
}

/* just for visuals */

.S1 {border: 3px solid green;}
.S2 {border: 2px solid hotpink;}
.S3 {border: 5px solid goldenrod}
.S4 {border: 2px solid red}
