
.primary-container {
    max-width: 1240px, 80vw;
    margin: auto;

}

@media (min-width: 768px){
    .primary-container {
        width: 90vw;
        min-height: max-content;
    }
}

.half-container {
    width: minmax(min(40%), 100%);
}
 