---
import BaseLayout from "../layouts/baseLayout.astro";
import { Image } from "astro:assets";
// import error from "../images/error-404.png";
// create and import 404 branded image
---

<BaseLayout title="404 : Page not Found">
<div>
    <!-- <Image src={error} alt="404" height={300} width={250}/> -->
    <h1>Page Not Found</h1>
    <p>Sorry, Can't skate this way</p>
    <a href="/">Back to Home Page</a>
    
</div>
</BaseLayout>
