---
import BaseLayout from "../layouts/baseLayout.astro";
import { Image } from "astro:assets";
// import error from "../images/error-404.png";
// create and import 404 branded image
---

<BaseLayout title="404 : Page not Found">
<div class="flex column content-Center" >
    <!-- <Image src={error} alt="404" height={300} width={250}/> -->
    <h1>Page Not Found</h1>
    <!-- <p>Sorry, Can't skate this way</p> -->
    <h3>Shhh</h3>
    <span>it's temporary...</span>
    <p>404</p>
    <a href="/home">Back to Home Page</a>
    
</div>
</BaseLayout>
