---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/baseLayout.astro'
import BlogPost from '../components/blogPost.astro';

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("blogs");
// use on main page for featured events // 
const publicPosts = await getCollection('blogs', ({ data }) => {
  return data.status === 'published';
});
// const allPosts = (await getCollection("blogs")).sort(
//   (a, b) => a.data.published.valueOf() - b.data.published.valueOf(),
// );

// const relatedPosts = await getEntries(post.data.relatedPosts);
---
<BaseLayout title={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      publicPosts.map((post) => (
        <BlogPost url={`/content/blogs/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
  <p>here you'll see my testing ground:</p>
     
  <a href="/tags/">tags list</a>
</BaseLayout>