---
import BaseLayout from "../layouts/baseLayout.astro";
import "../styles/event.css" ;


---

<BaseLayout>
	<section id="darkWrap">

		<section id="calendar">
			<div> calendar component </div>
			<div> side menu etc component</div>
			
			</section>
			<section id="eventList">
				<div> title and filter component</div>
				<section> card holder 
					<div> cards component</div>
				</section>
			</section>
		<section id="spare"></section>
	</section>
 
</BaseLayout>