---
const Brand = "Your Jam Plug .UK";

import BaseLayout from "../layouts/baseLayout.astro";

import "../styles/global.css";

const identity = {
	branding: "your jam plug uk",
	based: "Europe",
	targetAudience: ["roller skater", "inline skater", "free skater"]
};

---
 
<BaseLayout>
	<section>
		<div>
			<h1 class="welcome"> {Brand} </h1>
		</div>

		<div>
			<h2>welcome back</h2>

			<h3>baddie on my right</h3>
			<h4> Sup woody</h4>
			<h5>she said 'hey'</h5>
			<h6>baddies to the left</h6>
			<p class="p1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, totam!</p>
			<p class="p2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, totam!</p>
			<p class="p3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, totam!</p>
			<p class="caption"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, totam!</p>
			<small > super duper </small>
		</div>
	</section>
 
</BaseLayout>