---
const Brand = "Your Jam Plug .UK";

import BaseLayout from "../layouts/baseLayout.astro";

import "../styles/global.css";
import "../styles/submit.css";

---

<BaseLayout>
    <section class="pageTop">
        <div><h1>Submit your Event</h1></div>
    </section>
    <section class="dual-field">
        <div class="info">
            <div>
                <h2>How it works</h2>
                <p>use this form to submit your events</p>
            </div>
        </div>
        <div class="form-wrap">
            <div class="event-form">
                <div class="btn-wrap">
                    <a href="#" class="button" target="_self">Submit</a>
                </div>
            </div>
        </div>
    </section>
    <section class="carosel"></section>

</BaseLayout>