---

---
<div id="directMenu">
    <h5> Menu </h5>
    <ul>
        <a href="#England-region">
            <li>England</li>
        </a>
        <a href="#Scottland-region">
            <li>Scotland</li>
        </a>
        <a href="#Nireland-region">
            <li>Northern Ireland</li>
        </a>
        <a href="#Republic-Region">
            <li>Republic of Ireland</li>
        </a>

    </ul>
</div>

<style>
     #directMenu {
        border: 1.5px solid var(--brown-main);
        background: var(--accent-teal);
        background-color: var(--accent-teal);
        max-height: fit-content;
        width: auto;
        

        > h5 {
            margin: 0;
            padding: .5ch;
            font: 1.2rem 'red rose'; 
            letter-spacing: .2ch;
        }

    }

    ul {
        /* padding-top: .1ch; */
    }

     li {
        font: 'red rose';
        text-decoration: none;
    }

</style>
