---
import "../styles/footer.css"
import socials from "../components/socials.astro" 
---

<footer>


    <section id="upperFoot" class="grid">
        <div> . </div>
        <div>
            <!-- <h3>{}</h3> -->
            <img src="src/assets/alt-bloat-1.svg" alt="Logo 2" id="endLogo">
        </div>
        <div> Socials bar tbd 
            <socials />  
        </div>
        
    </section>
    <section id="lowerFoot" class="grid">
        <div>
            <p>Your Jam Plug UK ®
                Established 2023 [Terms of Use], 
                [Privacy Policy], 
            </p>
        </div>
        <div>
            <p>
                YOURJAMPLUG.UK is a collective that helps skaters find what they need to enjoy the hobby they love... etc etc etc
            </p>
        </div>
        <div>
            <p> contact: </p>
            <p>Email address: ...</p>
        </div>
    </section>
</footer>