---
import Navigation from "../components/navigation.astro";
import "../styles/header.css"

---
<!-- width 750< remove CTA button for space -->

<header>
    <div id="homeLogo">
        <a href="/index/"><img src="../branding/shine-orange-lug-2.svg" alt="your Jam Plug" id="headLogo"></a>
    </div>
    <div>
      <small></small>
    </div>
    <div id="mainNav">
      <nav>
        <Navigation />
      </nav>
      <div>
        <button id="CTA">For Skaters</button>
      </div>
    </div>
</header>

