---

---
<ul id="primaryNav">
    <li><a href="/Home/">Home</a></li>
    <li><a href="/Events/" data-astro-prefetch>Events</a></li>
    <li><a href="/Directory/" data-astro-prefetch>Directory</a></li>
    <li><a href="/About/">About Us</a></li>
    <li><a href="#">Spare</a></li>
</ul>

<style>
    #mainNav li {
        text-decoration: none;
    }

    #mainNav a {
        text-decoration: none;
    }

    #mainNav ul {
        text-decoration: none;
    }

</style>