---

---

<a href="mailto:skater@yourjamplug.com"  class="socialRound">
    <img src="../src/assets/email.png" alt="email">
</a>
<a href="https://www.instagram.com/yourjamplug.uk" target="_blank" class="socialRound">
    <img src="../src/assets/instagram.png" alt="Instagram">
</a>
<a href="https://www.tiktok.com/@skaters.jam.plug" target="_blank" class="socialRound">
    <img src="../src/assets/tik-tok.png" alt="Tiktok">
</a>

<style>
    .socialRound {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: var(--main-orange);
    }

    a > img {
        width: 20px;
        height: 20px;
        /* padding: 1ch; */
        
        
    }
    
    a{
        align-content: center;
        justify-content: center;
        padding: .5ch;
        margin: .5ch;
    }
</style>