---
import "../styles/global.css";

---

<!-- button to bring user back to top of page -->


<button type="button" name="To Top" title="Go to top"  id="toTop" onclick="topFunction()" >
    <img src="../branding/arrowTop3.svg" alt="up">
    To Top
</button>


<!-- <button type="button" name="To Top" title="Go to top"  id="toTop" onclick="topFunction()" >
        <a href="#pageTop" class="topBttn">
        <img src="../branding/arrowTop1.svg" alt="up">
    </a>
</button> -->

<!-- style on global . import to base layout-->
