---
import "../styles/global.css";

const BASE_URL = import.meta.env.BASE_URL

---
<!-- button to bring user back to top of page -->

<button type="button" name="To Top" title="Go to top"  id="toTop" onclick="topFunction()" >
    <img src= {BASE_URL + "../../public/branding/arrowTop3.svg"} alt="up">
    To Top
</button>

