---
import "../styles/global.css";

---

<!-- button to bring user back to top of page -->

<a href="#pageTop" class="topBttn">
    <button id="ToTop">
        <img src="" alt="x">
    </button>
</a>

<!-- style on global . import to base layout-->
