---
const Brand = "Your Jam Plug";
const {Index = 'Home |'} = Astro.props;
const {title = ' Your Jam Plug UK | Where Roller Skates gather'} = Astro.props; 

import "../styles/global.css";
import "../styles/header.css"
import "../styles/footer.css";
import {SITE_TITLE, SITE_DESCRIPTION} from "../constants";

import ToTop from "../components/toTop.astro";
import Socials from "../components/socials.astro" ;

interface Props {
	title?: string;
	Index?: string;
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/new-favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content= {SITE_DESCRIPTION}>
		<title>{SITE_TITLE} | {Index} </title>
		<!-- <title>Your Jam Plug</title> props can be overwritten on each page, cascade based-->
	</head>

	<body>
		<section id="mainHeader"> 
			<!-- || Menu toggle button -->
			<button aria-controls="mainNav" aria-expanded="false" class="mobileNavToggle"><span class="srOnly">Menu</span></button>

			<!-- || page head and Nav -->
			<header>
				<!-- A -->
				<div id="homeLogo">
					<a href="/index/"><img src="../branding/shine-orange-lug-2.svg" alt="your Jam Plug" id="headLogo"></a>
				</div>
				<!-- B -->
				<div id=theNav">
					<nav>
						<ul id="mainNav" data-visible="false">
							<li><a href="/home/">Home</a></li>
							<li><a href="/events/">Events</a></li>
							<li><a href="/directory/">Directory</a></li>
							<li><a href="/about/">About Us</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
					</nav>
				</div>
				<!-- C -->
				<div id="theCall">
					<a href="#" id="CTA">For Skaters <span class="srOnly">Newsletter sign up</span></a>
					
				</div>
			</header>
		</section>


		<section id="mainBody">
			<!-- || Content slot -->
			<slot />
			<ToTop />
		</section>


		<section id="mainFooter">
			<footer>
				<section id="upperFoot" class="grid">
					<div> </div>
					<div>
						<img src="../src/assets/alt-bloat-1.svg" alt="Logo 2" id="endLogo">
					</div>
					<div class="socialLinks">
					
						<Socials />
					</div>
					
				</section>
				<section id="lowerFoot" class="grid">
					<div class="row2 toe">
						<p>Your Jam Plug UK ®
							Established 2023 <br> [<a href="/terms-of-use/">Terms of Use</a>]  - 
							[<a href="/privacy-policy/">Privacy Policy</a>]
						</p>
					</div>
					<div class="row3 toe">
						<p>
							YOURJAMPLUG.UK is a collective that helps skaters find what they need to enjoy the hobby they love.
						</p>
					</div>
					<div class="row1 toe">
						<p>Email us here: <br> <a href="...">email@yourjamplug.com</a>
						</p>
					</div>
				</section>
			</footer>
		</section>


		<style> </style>
	</body>
	
	<script>
        import "../function/basic.js"
    </script>

</html>

