---
const Brand = "Your Jam Plug";
import "../styles/global.css";
import "../styles/footer.css";
import "../styles/header.css"

// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import Navigation from "../components/navigation.astro";
import ToTop from "../components/toTop.astro";
import Socials from "../components/socials.astro" ;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/new-favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Your Jam Plug</title>
	</head>
	<body>
		<section id="mainHeader"> 
			<header>
				<div id="homeLogo">
					<a href="/index/"><img src="../branding/shine-orange-lug-2.svg" alt="your Jam Plug" id="headLogo"></a>
				</div>
				<div>
				<small></small>
				</div>
				<div id="mainNav">
				<nav>
					<Navigation />
				</nav>
				<div>
					<button id="CTA">For Skaters</button>
				</div>
				</div>
			</header>

		</section>
		<section id="mainBody">

			<slot />
		</section>
		<section id="mainFooter">
			<footer>
				<section id="upperFoot" class="grid">
					<div> </div>
					<div>
						<!-- <h3>{}</h3> -->
						<img src="../src/assets/alt-bloat-1.svg" alt="Logo 2" id="endLogo">
					</div>
					<div class="socialLinks">
						
						<Socials />
					</div>
					
				</section>
				<section id="lowerFoot" class="grid">
					<div>
						<p>Your Jam Plug UK ®
							Established 2023 [<a href="/termsOfUse/">Terms of Use</a>]  - 
							[<a href="/privacyPolicy/">Privacy Policy</a>]
						</p>
					</div>
					<div>
						<p>
							YOURJAMPLUG.UK is a collective that helps skaters find what they need to enjoy the hobby they love.
						</p>
					</div>
					<div>
						<p>Email us here: <br> <a href="...">email@yourjamplug.com</a>
						</p>
					</div>
				</section>
			</footer>
		</section>
		<ToTop />
	</body>
	<script>
        import "../function/basic.js"
    </script>
</html>

<style>
	#mainBody {
		padding: 1ch;
	}
</style>